<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.mkw.a.mapper.BbsMapper">

<!-- 문의사항글쓰기 -->
<insert id="uploadBbs" parameterType="com.mkw.a.domain.BbsVo">
	INSERT INTO HOMETAXBBS (HOMETAXBBS_SEQ, MYID,  TITLE, CONTENT, READCOUNT, DEL, DEPTH, REF, FILENAME, NEWFILENAME)
	VALUES(HOMETAXBBS_SEQ.NEXTVAL, #{myid},  #{title}, #{content}, 0, 0, 0, HOMETAXBBS_SEQ.NEXTVAL, #{filename}, #{newfilename})
</insert>

<!-- 문의사항 글 가져오기 -->
<select id="getBbsListData" parameterType="com.mkw.a.domain.BbsParam" resultType="com.mkw.a.domain.BbsVo">
	SELECT RNUM, HOMETAXBBS_SEQ, MYID, TITLE, CONTENT, READCOUNT, DEL, DEPTH, REF, FILENAME, NEWFILENAME, DOWNCOUNT
	FROM (SELECT ROW_NUMBER() OVER (ORDER BY HOMETAXBBS_SEQ) AS RNUM, MYID, HOMETAXBBS_SEQ, TITLE, CONTENT, READCOUNT, DEL, DEPTH, REF, FILENAME, NEWFILENAME, DOWNCOUNT
      	  FROM HOMETAXBBS
      	  WHERE 1=1 
      	  <if test="title != null and title != ''">
      	  		<if test="title == '제목'">
      	  			AND TITLE LIKE '%'||#{search}||'%'
      	  		</if>
      	  		<if test="title == '작성자'">
      	  			AND MYID LIKE '%'||#{search}||'%'
      	  		</if>
      	  </if>
      )
      WHERE RNUM BETWEEN 1 AND 5
</select>

<!-- 문의사항 디테일 페이지 -->
<select id="getDetailBbs" parameterType="Integer" resultType="com.mkw.a.domain.BbsVo">
	SELECT * 
	FROM HOMETAXBBS
	WHERE HOMETAXBBS_SEQ = #{seq}

</select>

<!-- 문의사항 글삭제 -->
<update id="deleteBbs" parameterType="Integer">
	UPDATE HOMETAXBBS
	SET DEL = 1 
	WHERE HOMETAXBBS_SEQ = #{seq}
</update>

<!-- 문의사항 글 업데이트 -->
<update id="updateBbs" parameterType="com.mkw.a.domain.BbsVo">
	UPDATE HOMETAXBBS 
	SET TITLE = #{title}, CONTENT = #{content}
	<if test="title != null and title != ''">
		,FILENAME = #{filename}, NEWFILENAME=#{newfilename}
	</if>
	WHERE HOMETAXBBS_SEQ = #{hometaxbbs_seq}
</update>



</mapper>